body {
  background-color: azure;
  opacity: 1;
  background-image: radial-gradient(#000000 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.App {
  padding: 50px;
  font-family: 'Franklin Gothic Medium';
}


